
@{
    ViewBag.Title = "KhuyenMai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Tin tức -->
<div class="mb-4 text-white rounded">
    <img src="~/Content/Image/Tintuc/quatet.png" width="100%" alt="">
</div>

<div class="row mb-2">
    <div class="col-xl-8">
        <div class="row g-0 mt-0  border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col-5 d-none d-md-block">
                <img src="~/Content/Image/Tintuc/pannacotta.jpg" width="100%" alt="">
            </div>
            <div class="col p-3 ms-2 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">Mới nhất</strong>
                <a href="#">
                    <h5 class="mb-1 text-dark">
                        Bỏ túi cách làm panna cotta chanh dây thơm lừng, chua chua ngọt
                        ngọt ai cũng mê
                    </h5>
                </a>
                <div class="mb-1 text-muted">22/12/2021</div>
                <p class="mb-auto">Panna cotta là một món tráng miệng từ nước Ý đã chinh phục được bao thực khách khó tính nhất...</p>
            </div>
        </div>
        <div class="row g-0 mt-0 border rounded overflow-hidden flex-md-row mb-4 h-md-250 shadow-sm position-relative">
            <div class="col-5 d-none d-md-block">
                <img src="~/Content/Image/Tintuc/suabot.jpg" width="100%" alt="">
            </div>
            <div class="col p-3 ms-2 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">Review sản phẩm</strong>
                <a href="#">
                    <h5 class="mb-1 text-dark">Sữa bột NutiFood có những loại nào? Dành cho bé bao nhiêu tuổi?</h5>
                </a>
                <div class="mb-1 text-muted">22/12/2021</div>
                <p class="mb-auto">Sữa bột NutiFood là lựa chọn được nhiều mẹ tin dùng cho trẻ sơ sinh và trẻ nhỏ. Sữa bột NutiFood có những loại nào?</p>
            </div>
        </div>
        <div class="row g-0 mt-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col-5 d-none d-md-block">
                <img src="~/Content/Image/Tintuc/Cachim.jpg" width="100%" alt="">
            </div>
            <div class="col p-3 ms-2 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">Công thức nấu ăn</strong>
                <a href="#">
                    <h5 class="mb-1 text-dark">Cách làm cá chim nướng ớt xiêm vị đậm đà, thơm lừng cả gian bếp</h5>
                </a>
                <div class="mb-1 text-muted">20/12/2021</div>
                <p class="mb-auto">Cá chim không chỉ sở hữu chất thịt thơm ngon mà còn bổ dưỡng. Bỏ túi cách làm cá chim nướng ớt xiêm vị đậm đà...</p>
            </div>
        </div>
        <div class="row g-0 mt-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col-5 d-none d-md-block">
                <img src="~/Content/Image/Tintuc/galuoc.jpg" width="100%" alt="">
            </div>
            <div class="col p-3 ms-2 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">Sống xanh</strong>
                <a href="#">
                    <h5 class="mb-1 text-dark">Trứng kết hợp cùng 3 thực phẩm này chính là thần dược cho sức khỏe</h5>
                </a>
                <div class="mb-1 text-muted">22/12/2021</div>
                <p class="mb-auto">Trứng rất tốt cho sức khỏe con người. Đặc biệt khi kết hợp với 3 loại thực phẩm sau sẽ có 'thần dược' cho sức khỏe...</p>
            </div>
        </div>
        <div class="row g-0 mt-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col-5 d-none d-md-block">
                <img src="~/Content/Image/Tintuc/csui.jpg" width="100%" alt="">
            </div>
            <div class="col p-3 ms-2 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">Sống xanh</strong>
                <a href="#">
                    <h5 class="mb-1 text-dark">Trẻ em mấy tuổi thì uống được C sủi? Top C sủi bổ sung vitamin C cho trẻ</h5>
                </a>
                <div class="mb-1 text-muted">22/12/2021</div>
                <p class="mb-auto">Vitamin C là một chất cần thiết cho cơ thể của con người, bao gồm cả trẻ em lẫn người lớn...</p>
            </div>
        </div>
        <div class="row g-0 mt-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col-5 d-none d-md-block">
                <img src="~/Content/Image/Tintuc/bia.jpg" width="100%" alt="">
            </div>
            <div class="col p-3 ms-2 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">Review sản phẩm</strong>
                <a href="#">
                    <h5 class="mb-1 text-dark">Beck's - Hãng bia Đức có lượng bia tiêu thụ cao nhất toàn cầu</h5>
                </a>
                <div class="mb-1 text-muted">22/12/2021</div>
                <p class="mb-auto">Beck's là hãng bia Đức nổi tiếng, có lượng bia tiêu thụ cao nhất toàn cầu. Cùng tìm hiểu...</p>
            </div>
        </div>
        <div class="row g-0 mt-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col-5 d-none d-md-block">
                <img src="~/Content/Image/Tintuc/daugoi.jpg" width="100%" alt="">
            </div>
            <div class="col p-3 ms-2 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">Tư vấn sản phẩm</strong>
                <a href="#">
                    <h5 class="mb-1 text-dark">Bảo vệ, chăm sóc, nuôi dưỡng tóc chuyên sâu với bộ dầu gội Megumi</h5>
                </a>
                <div class="mb-1 text-muted">22/12/2021</div>
                <p class="mb-auto">Megumi là thương hiệu thuộc tập đoàn Rohto-Mentholatum được thành lập từ năm 1899 tại Osaka, Nhật Bản...</p>
            </div>

        </div>
        <div class="row">
            <a href="#" class="text-center ">Xem thêm <i class="fas fa-sort-down position-relative" style="top: -2px;"></i></a>
        </div>

    </div>
    <!-- NEWS -->
    @{
        Html.RenderPartial("_News1Partial");
    }
</div>

