
<div class="col-xl-4 tintuc">
    <div class="position-sticky" style="top: 5rem;">

        <a href="">
            <div class="card">
                <img src="~/Content/Image/Khuyenmai/sale-mirinda.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Từ 14/12 - 27/12 mua 6 lon Mirinda tặng 1 chai....</p>
                </div>
            </div>
        </a>
        <a href="">
            <div class="card">
                <img src="~/Content/Image/Khuyenmai/sale-gao.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Gạo Ngon Dẻo Thơm - Bữa Cơm Đầm Ấm giảm....</p>
                </div>
            </div>
        </a>
        <a href="">
            <div class="card">
                <img src="~/Content/Image/Khuyenmai/sale-coca.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        Hóa đơn 50k sản phẩm Coca-cola, tặng 3 chai Fanta soda kem 300ml...
                    </p>
                </div>
            </div>
        </a>
        <a href="">
            <div class="card">
                <img src="~/Content/Image/Khuyenmai/sale-ngay-den-toi.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Ngày đen tối, giảm ngập lối giảm đến 50%...</p>
                </div>
            </div>
        </a>
        <a href="">
            <div class="card">
                <img src="~/Content/Image/Khuyenmai/sale-duck.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        Giữ nhà thơm mát sạch khuẩn - Khuyến mại giá cực hời lên đến 34%...
                    </p>
                </div>
            </div>
        </a>

    </div>
</div>
